@font-face {
	font-family: "Noto Serif";
	src: url("/fonts/NotoSerif-Regular.ttf");
}

@font-face {
	font-family: "Noto Serif";
	src: url("../fonts/NotoSerif-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Noto Serif";
	src: url("../fonts/NotoSerif-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Noto Serif";
	src: url("../fonts/NotoSerif-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-LightItalic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}